*{
    padding:0;
    margin:0;
    border: 0;
}
$primary-shade:#0099FF;
$unselected-shade:#a1deff;
$header-colour:white;
$body-colour:#535353;
$form-background-colour:white;
$text-font: 'Lato', sans-serif;
$header-font: 'Oswald', sans-serif;
$icon-colour:white;
$input-border-colour:#bdbdbd;
$error-colour:rgb(241, 16, 16);
$button-height:30px;

::-webkit-scrollbar {
    width: 0;
}

body{
    width:100%;
    background-color: $body-colour;
    #formV2{
        width:60%;
        margin: 0 auto;
        padding:20px;
        background-color: #ffffff;
        text-align: center;
        font-family: $text-font;
        .dropdown-main{
            display: none;
            width:100%;
            margin:0 auto;
        }
        h1, h2{
            margin-bottom:10px;
        }

        .main-title{
            background-color: #ffffff;
            padding: 15px 0;
            padding-left: 15px;
            margin: 0;
            font-size:1em;
            text-align: left;
            border-radius: 3px;
            margin-bottom: 5px;
            color: #b2b2b2;
            cursor: pointer;
            border-bottom: 1px solid #cccccc;
            position:sticky;
            top:15px;
            
            &:hover{
                background-color: #d6d6d6;
            }

            i{
                float:right;
                margin-right:10px;
            }
        }

        h3,h4,h5,h6{
            text-align: left;
        }

        .column{
            input{
                background-color: #e0e0e0;
                height: 15px;
                padding: 5px;
            }
            h4{
                margin-bottom: 5px;
            }
        }
        textarea{
            width:95%;
            max-width:95%;
            height:100px;
            margin:10px 5px;
            border:1px solid rgb(194, 194, 194);
            border-radius: 3px;
            padding:5px;
            cursor: se-resize;
        }

        input[type='text']{
            border:none;
            border-bottom: 1px solid  rgb(194, 194, 194);
            width:95%;
            padding:3px;
            margin:10px 5px;
        }

        .field{
            width:30%;
            margin:5px;
            input, select{
                width: 90%;
                height:30px;
                margin: 0 auto;
                border: 1px solid grey;
                padding:3px;
            }

            .other-option{
                margin:5px 0;
            }
        }
        .argument-area{
            display: flex;
            flex-flow: wrap;
            padding:5px;
        }

        .checkBoxArea{
            width:90%;
            margin: 0 auto;
            padding:5px;
            

            .checkBoxArea-div{
                width:100%;
                display: flex;
                flex-flow: wrap;
                justify-content: space-evenly;

                .age-range{
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    width: 100%;

                    input{
                        width:40%;
                        height:30px;
                        border:1px solid rgb(194, 194, 194);
                        padding:3px;
                    }
                }
            }
            div{
                width:20%;

                select{
                    width:90%;
                    height:30px;
                    margin:10px 5px;
                    border:1px solid rgb(194, 194, 194);
                    padding:3px;
                }
                input[type="text"]{
                    width: 100%;
                    height:30px;
                    margin:10px 5px;
                    border:1px solid rgb(194, 194, 194);
                    padding:3px;
                }
            }
            .field{
                width:90%;
                margin: 10px auto;

                div{
                    width:100%;
                    display: flex;

                    button{
                        width:15%;
                        padding:3px;
                        text-align: center;
                        background-color: rgb(101, 101, 250);
                        color: white;
                        cursor: pointer;
                        border-radius: 3px;
                    }
                }
            }
        }

        .multiple-dropdown{
            width:90%;
            margin: 0 auto;
            padding:5px;
            
            .field{
                width:90%;
                margin: 10px auto;

                div{
                    width:100%;
                    display: flex;

                    button{
                        width:15%;
                        padding:3px;
                        text-align: center;
                        background-color: rgb(101, 101, 250);
                        color: white;
                        cursor: pointer;
                        border-radius: 3px;
                    }
                }
            }
        }

        .errorMessage{
            border: 1px solid $error-colour;
            width: 20%;
            text-align: center;
            padding: 3px;
            border-radius: 3px;
            margin-left: 25px;

            h5{
                color: $error-colour;
                font-weight:100;
            }
        }
        .add-tag-button{
            width:15%;
            padding:5px;
            text-align: center;
            background-color: rgb(101, 101, 250);
            color: white;
            cursor: pointer;
            border-radius: 3px;
        }

        .multiple-input-text-tags{
            margin: 5px 0;
            padding: 5px;
            background-color: #ffffff;
            border-radius: 3px;
            display: flex;
            flex-flow: wrap;
            width:100%;
            justify-content: space-around;
            
            .box{
                width:95%;
                background-color: #f1f1f1;
                border-radius: 3px;
                margin:5px auto;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
        
                text-align: center;
                i{
                    font-size: 1.5em;
                    margin: 0 5px;
                    cursor: pointer;
                }
        
                .field{
                    div{
                        input{
                            border:none;
                        }
                        h5{
                            margin-bottom: 3px;
                            margin-left: 10px;
                        }
                        input[type="text"]:disabled{
                            background-color:rgb(255, 255, 255);
                        }
                    }
                }
            }
        }
    }
}

.bottom-button{
    width:10%;
    padding:7px 9px;
    background-color: rgb(57, 148, 201);
    color:white;
    border-radius: 5px;
    cursor: pointer;
}